---
const title = 'Perla\'s Kitchen - Delicious Recipes';
const description = 'Perla is a professional self-taught chef and owner of Perla\'s Kitchen. She specializes in creating delicious recipes that are perfect for any occasion.';
---

<meta charset="utf-8" />
<meta name="author" content="Perla Kitchen">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title}>
<meta name="description" content={description}>

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://perla.kitchen">
<meta property="og:title" content={title}>
<meta property="og:description" content={description}>
<meta property="og:image" content="/images/internal/profile.webp.jpg">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://perla.kitchen">
<meta property="twitter:title" content={title}>
<meta property="twitter:description" content={description}>
<meta property="twitter:image" content="/images/internal/profile.webp.jpg">

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#c1c1c1">
<meta name="msapplication-TileColor" content="#c1c1c1">
<meta name="theme-color" content="#ffffff">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/global.css">
